<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Careship Test</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <link rel="stylesheet" href="/assets/styles.css" />
</head>
<body>
    {{ APP }}
    {{ STATE }}
    <script src="/assets/js/vendor.js"></script>
    <script src="/assets/js/app.js"></script>
</body>
</html>