<template>
  <div class="columns">
    <div class="column instructions">
      <h2>Welcome</h2>
      <div>
        <p>This challenge was resolved using the following languages/technologies </p>
        <span>Backend</span>
        <ol>
          <li>Node js</li>
          <li>Gulp</li>
          <li>Express</li>
          <li>Mocha</li>
        </ol>
        <span>FrontEnd</span>
        <ol>
          <li>Vue</li>
          <li>Webpack</li>
          <li>Babel</li>
          <li>Webpack</li>
          <li>Eslint</li>
          <li>Karma</li>
        </ol>
        <div>
        </div>
      </div>
    </div>
    <div class="column form-wrapper">
      <div>
        <p>Please write and mount on rounded numbers multiples of ten in order to withdraw the amount </p>

      <input v-model.number="amount" placeholder="0" type="number"/>
      </div>
    </div>
    <div class="column results">
      Required Amount {{ amount }}

    <div v-for="(value, index) in results">
      {{value}}
    </div>

    </div>
  </div>
</template>
<script>
  import {mapGetters} from 'vuex'
  const retrieveResults = (store, route, amount) => {
    return store.dispatch('machineModule/getCash', amount)
  }
  export default {
    data () {
      return {
        amount: 0
      }
    },
    asyncData (store, route) {
      let results = retrieveResults(store, route, this.amount)
      console.log(results)
      return {results}
    },
    components: {},
    computed: {
      ...mapGetters('machineModule', ['results'])
    },
    methods: {
      getResults (amount) {
        retrieveResults(this.$store, this.$route, amount)
      }
    },
    watch: {
      amount: function (amount) {
        this.getResults(amount)
      }
    },
    created () {
      this.getResults()
    }
  }
</script>
<style scoped>
    .form-wrapper{
        padding-bottom: 40px;
        height:100%;
    }
    .instructions{
        bottom: 0;
        width: 100%;
        left: 0;
    }
</style>
